---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

type Props = {
  speaker: CollectionEntry<"speakers">;
};
const { speaker } = Astro.props;

const image_classes = `absolute h-full min-w-full object-cover`;
---

<div
  data-speaker
  class:list={[`h-screen md:h-[70svh]`, `grid md:grid-cols-2 gap-6 py-6`]}
>
  <div class="relative min-h-96 h-full">
    <Image
      data-img-a
      src={speaker.data.pictureA}
      alt=""
      class={image_classes}
    />
    <Image
      data-img-b
      src={speaker.data.pictureB}
      alt=""
      class={image_classes}
    />
    <Image
      data-img-c
      src={speaker.data.pictureC}
      alt=""
      class={image_classes}
    />
  </div>
  <div class="flex flex-col gap-6">
    <h2>
      {
        `${speaker.data.title ?? ""} ${speaker.data.first_name} ${speaker.data.last_name}`.trim()
      }
    </h2>
    <p>{speaker.data.bio}</p>
  </div>
</div>

<script>
  import { gsap, ScrollTrigger } from "gsap/all";
  gsap.registerPlugin(ScrollTrigger);

  const speakers = document.querySelectorAll("[data-speaker]");

  const scroll_distance = 2000;

  speakers.forEach((speaker) => {
    const imgA = speaker.querySelector("[data-img-a]");
    const imgB = speaker.querySelector("[data-img-b]");
    const imgC = speaker.querySelector("[data-img-c]");

    gsap.set(speaker, {
      marginBottom: scroll_distance,
    });

    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: speaker,
        start: "top top",
        end: `+=${scroll_distance}`,
        scrub: true,
        pin: true,
      },
    });

    tl.to(imgA, {
      scale: 0.5,
      x: "-100svw",
      borderRadius: 999,
    });

    tl.from(imgB, {
      delay: -0.6,
      scale: 0.5,
      y: "100svh",
      borderRadius: 999,
    });

    tl.to(imgB, {
      scale: 0.5,
      y: "-100svh",
      opacity: 0,
      borderRadius: 999,
    });

    tl.from(imgC, {
      delay: -0.6,
      scale: 0.5,
      x: "-100svh",
      borderRadius: 999,
    });
  });
</script>
